*{
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
  }
  .btn-group {
    padding: 20px 30px;
    width: 71%;
    background-color: rgb(227, 227, 227);
  }
  .btn-group button {
    background-color: rgb(186, 186, 186);
    padding: 10px 25px;
    margin: 5px 0 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .parent {
    display: flex;
    justify-content: center;
  }
  
  .buttonsiv
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }